<div class="rts-service-area rts-section-gapBottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="rts-title-area service text-center">
                    <p class="pre-title">
                        Our Courses
                    </p>
                    <h2 class="title">Our Courses</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid service-main plr--120-service mt--2 plr_md--0 pl_sm--0 pr_sm--0">
        <div class="background-service row">
            <!-- start single Service -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="service-one-inner one">
                    <div class="thumbnail">
                        <img src="assets/images/service/icon/01.svg" alt="finbiz_service">
                    </div>
                    <div class="service-details">
                        <a [routerLink]="['/courses', 'basic']">
                            <h5 class="title">Phase 1 (Basic)</h5>
                        </a>
                        <p class="disc">
                            A beginner-friendly course covering the fundamentals of stock trading, risk management, and market basics.
                        </p>
                        <a class="rts-read-more btn-primary" [routerLink]="['/courses', 'basic']"><i
                                class="far fa-arrow-right"></i>Read
                            More</a>
                    </div>
                </div>
            </div>
            <!-- end single Services -->
            <!-- start single Service -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="service-one-inner two">
                    <div class="thumbnail">
                        <img src="assets/images/service/icon/02.svg" alt="finbiz_service">
                    </div>
                    <div class="service-details">
                        <a [routerLink]="['/courses', 'advance']">
                            <h5 class="title">Phase 2 (advance)</h5>
                        </a>
                        <p class="disc">
                            An advanced course focused on technical analysis, cryptocurrencies, and expert-level trading strategies.
                        </p>
                        <a class="rts-read-more btn-primary" [routerLink]="['/courses', 'advance']"><i
                                class="far fa-arrow-right"></i>Read
                            More</a>
                    </div>
                </div>
            </div>
            <!-- end single Services -->
            <!-- start single Service -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="service-one-inner three">
                    <div class="thumbnail">
                        <img src="assets/images/service/icon/03.svg" alt="finbiz_service">
                    </div>
                    <div class="service-details">
                        <a [routerLink]="['/courses', 'placement']">
                            <h5 class="title">Placement Assistance</h5>
                        </a>
                        <p class="disc">
                            Guiding you towards job opportunities with top financial firms through expert mentorship and industry connections.
                        </p>
                        <a class="rts-read-more btn-primary" [routerLink]="['/courses', 'placement']"><i
                                class="far fa-arrow-right"></i>Read
                            More</a>
                    </div>
                </div>
            </div>
            <!-- end single Services -->

        </div>
        <div class="row">
            <div class="cta-one-bg col-12">
                <div class="cta-one-inner">
                    <div class="cta-left">
                        <h5 class="title">Let’s Discuss How We Can Help Improve Your Share Market Trading Strategies</h5>
                    </div>
                    <div class="cta-right">
                        <a class="rts-btn btn-white" href="/teachers">SEBI Experts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>