<div class="rts-footer-area footer-one rts-section-gapTop bg-footer-one">
    <div class="container bg-shape-f1">
        <!-- footer call to action area -->
     
        <!-- footer call to action area End -->
        <!-- rts footer area -->
        <div class="row pt_sm--80 pb--80 pb_sm--40">
            <div class="col-xl-4 col-md-6 col-sm-12 col-12">
                <div class="footer-two-single-wized left pt--50">
                    <img src="../../assets/img/logo1.png" alt="Logo" width="200" height="100">

                    <h3 class="title animated fadeIn">
                        <span></span> <br>
                        Arts of finance
                    </h3>
                    <p class="disc">
                        Felis consequat magnis est fames sagittis ultrices placerat sodales porttitor quisque.
                    </p>
                </div>
            </div>
            <!-- footer mid area -->
            <div class="col-xl-4 col-md-6 col-sm-12 col-12">
                <div class="footer-one-single-wized mid-bg">
                    <div class="wized-title">
                        <h5 class="title">Opening Hours</h5>
                        <img src="assets/images/footer/under-title.png" alt="finbiz_footer">
                    </div>
                    <div class="opening-time-inner">
                        <div class="single-opening">
                            <p class="day">Week Days</p>
                            <p class="time">09.00 - 24:00</p>
                        </div>
                        <div class="single-opening">
                            <p class="day">Saturday</p>
                            <p class="time">08:00 - 03.00</p>
                        </div>
                        <div class="single-opening mb--30 mb_sm--10">
                            <p class="day">Sunday</p>
                            <p class="time">Day Off</p>
                        </div>
                        <a href="#" class="rts-btn btn-primary contact-us">Contact Us</a>
                    </div>
                </div>
            </div>
            <!-- footer mid area end -->

            <!-- footer end area post -->
            <div class="col-xl-4 col-md-6 col-sm-12 col-12">
                <div class="footer-one-single-wized margin-left-65">
                    <div class="wized-title">
                        <h5 class="title">Get in touch</h5>
                        <img src="assets/images/footer/under-title.png" alt="finbiz_footer">
                    </div>
                    <div class="contact-details">
                        <p><i class="fal fa-map-marker-alt"></i> Plot No.12C, Near By Pragati Petrol Pump, M.P. Nagar Zone 2 Bhopal,Madhya Pradesh</p>
                        <p><i class="fal fa-phone"></i> +91-7610714365</p>
                        <p><i class="fal fa-envelope"></i> contact.us@artsoffinance.in</p>
                    </div>
                </div>
            </div>
            <!-- footer end area post end-->
           
        </div>
        <!-- rts footer area End -->
    </div>
    <!-- copyright area start -->
    <div class="rts-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <p>Vimal Mewada - Copyright 2024. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright area end -->
</div>