<app-nav-bar></app-nav-bar>
<!-- start breadcrumb area -->
<div class="rts-breadcrumb-area breadcrumb-bg bg_image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                <h1 class="title">Course Name: {{course?.headline}}</h1>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="bread-tag">
                    <a href="index.html">Home</a>
                    <span> / </span>
                    <a href="#" class="active">{{course?.headline | slice: 0: (course?.headline.split(' ').slice(0,
                        3).join(' ').length)}}...</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb area -->

<!-- start service details area -->
<div class="rts-service-details-area rts-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-md-12 col-sm-12 col-12">
                <!-- service details left area start -->
                <div class="service-detials-step-1">
                    <div class="thumbnail">
                        <img src={{course?.serviceDetails?.thumbnailSrc}} alt="course-pic">
                    </div>
                    <h4 class="title">{{course?.headline}}</h4>
                    <p class="disc">
                        {{course?.serviceDetails?.description}}

                    </p>
                    <h6 class="title">About course</h6>
                    <p class="disc">
                        {{course?.serviceDetails?.aboutCourse?.content}}
                    </p>
                    <!-- faq accordion area -->
                    <!-- <div class="rts-faq-section rts-faq-bg bg_image"> -->
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="faq-two-inner">
                                <h6 class="title" *ngIf="course?.serviceDetails?.features.length>0">What Awaits Your Exploration:</h6>
                                <div class="faq-accordion-area" style="margin-top: 5px;">
                                    <div class="accordion" id="accordionExample">
                                        <div class="accordion-item"
                                            *ngFor="let feature of course?.serviceDetails?.features; let i = index">
                                            <h2 class="accordion-header" [id]="'heading' + i">
                                                <button class="accordion-button" style="color: black;" type="button"
                                                    [attr.data-bs-toggle]="'collapse'"
                                                    [attr.data-bs-target]="'#collapse' + i"
                                                    [attr.aria-expanded]="'false'"
                                                    [attr.aria-controls]="'collapse' + i">
                                                    <span>{{i + 1}}.</span> {{feature?.title}}
                                                </button>
                                            </h2>
                                            <div [id]="'collapse' + i" class="accordion-collapse collapse"
                                                [attr.aria-labelledby]="'heading' + i"
                                                data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    {{feature?.description}}
                                                </div>
                                            </div>
                                        </div>


                                          <div *ngIf="course?.serviceDetails?.examDetails?.length > 0">
                                            <div class="single-banifits"
                                                *ngFor="let  exam of course?.serviceDetails?.examDetails">
                                                <i class="far fa-check-circle"
                                                    style="color: orange; margin-right: 8px;"></i>
                                                <span>{{exam?.examCondition}}</span>
                                            </div>
                                        </div>
                                        <div class="mt--30" *ngIf="course?.serviceDetails?.courseOutline?.length > 0">
                                            <h6>Course Outline</h6>
                                            <ul style="padding-left: 20px; list-style-type: decimal; font-size: 16px; line-height: 1.6;">
                                                <li *ngFor="let outline of course?.serviceDetails?.courseOutline; let i = index">
                                                    <span style="font-weight: bold; color: #FF6F00;">{{ i + 1 }}.</span> {{ outline?.topic }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div *ngIf="course?.serviceDetails?.courseOffering">
                                        <div class="mt--30" *ngFor="let content of course?.serviceDetails?.courseOffering?.content" >
                                            <h6>{{content?.topic}}</h6>
                                            <ul style="padding-left: 20px; list-style-type: decimal; font-size: 16px; line-height: 1.6;">
                                                <li *ngFor="let detail of content?.details; let i = index">
                                                    <span style="font-weight: bold; color: #FF6F00;">{{ i + 1 }}.</span> {{ detail }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- faq accordion area end -->
                    <div class="row g-5 mt--30 mb--40">
                        <div class="col-lg-6">
                            <!-- single service details card -->
                            <div class="service-details-card">
                                <div class="thumbnail">
                                    <img src="assets/images/service/icon/09.svg" alt="" class="icon">
                                </div>
                                <div class="details">
                                    <h6 class="title">In-Depth Curriculum</h6>
                                    <p class="disc">Learn stock trading strategies and market analysis with expert guidance.</p>
                                </div>
                            </div>
                            <!-- single service details card End -->
                        </div>
                        <div class="col-lg-6">
                            <!-- single service details card -->
                            <div class="service-details-card">
                                <div class="thumbnail">
                                    <img src="assets/images/service/icon/10.svg" alt="" class="icon">
                                </div>
                                <div class="details">
                                    <h6 class="title">Live Mentorship Support</h6>
                                    <p class="disc">Get 24/7 mentorship from experienced traders to guide your learning.</p>
                                </div>
                            </div>
                            <!-- single service details card End -->
                        </div>
                        <div class="col-lg-6">
                            <!-- single service details card -->
                            <div class="service-details-card">
                                <div class="thumbnail">
                                    <img src="assets/images/service/icon/11.svg" alt="" class="icon">
                                </div>
                                <div class="details">
                                    <h6 class="title">Community & Networking</h6>
                                    <p class="disc">Join a vibrant community of traders for support and collaboration.</p>
                                </div>
                            </div>
                            <!-- single service details card End -->
                        </div>
                        <div class="col-lg-6">
                            <!-- single service details card -->
                            <div class="service-details-card">
                                <div class="thumbnail">
                                    <img src="assets/images/service/icon/12.svg" alt="" class="icon">
                                </div>
                                <div class="details">
                                    <h6 class="title">Flexible Learning Options</h6>
                                    <p class="disc">Choose between offline or online learning at your convenience.</p>
                                </div>
                            </div>
                            <!-- single service details card End -->
                        </div>
                    </div>
                    <p class="disc">
                        {{course?.serviceDetails?.howWeWork?.content[0]}} 
                       
                    </p>
                    <p class="disc">
                        {{course?.serviceDetails?.howWeWork?.content[1]}} 
                    </p>
                </div>
                <div class="service-detials-step-2 mt--40">
                    <h4 class="title">3 Simple Steps to Process</h4>
                    <!-- <p class="disc mb--25">
                        Assertively e-enable catalysts for change before fully tested markets. Phosfluo rescently is
                        maintain solve wireless scenarios after intermandated applications. Conveniently predominate
                        busin revolutionary quality vectors through future-proof manufactured products.
                        Enthusiastically transform distinctive collaboration.
                    </p>
                    <p class="disc">
                        Phosfluorescently maintain wireless scenarios after intermandated applications. Conveniently
                        predominate misslat revolutionary quality vectors through future-proof manufactured
                        products.
                    </p> -->
                    <!-- stem-area start -->
                    <div class="row  mb--40 g-5 mb_md--20 mb_sm--20">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="single-service-step text-center">
                                <p class="step">01</p>
                                <h6 class="title">
                                    Book Your offline/online couselling with mentor.
                                </h6>
                                <p class="disc">


                                    Book a consultant fill the form and get free counseling session with our mentor
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="single-service-step text-center">
                                <p class="step">02</p>
                                <h6 class="title">
                                    Take a Demo class.
                                </h6>
                                <p class="disc">

                                    Before joining, you can get a free demo class to understand the course contains in
                                    details.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="single-service-step text-center">
                                <p class="step">03</p>
                                <h6 class="title">

                                    Complete Our Registration process.

                                </h6>
                                <p class="disc">
                                    Get our fee structure and installment options.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- <p class="disc">
                        Conveniently predominate revolutionary quality vectors through future-proof manufactured
                        products. Objectively envisioneer high in convergence through collaborative networks.
                        Interactively generate B2C tailers for business data restore fully researched relationships
                        through
                    </p> -->
                    <!-- stem-area End -->
                </div>
                <!-- service details left area end -->
                <div class="service-detials-step-3 mt--70 mt_md--50">
                    <div class="row g-5 align-items-center">
                        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="thumbnail sm-thumb-service">
                                <img src="assets/images/service/sm-01.jpg" alt="Service">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 mb_md--20 mb_sm--20">
                            <h4 class="title">Student Benefits</h4>
                            <p class="disc">Our mentorship program provides students with the tools and strategies needed to succeed in the share market. With personalized guidance, real-time market insights, and hands-on learning, students gain the confidence to navigate the trading world effectively.</p>
                            <div class="single-banifits">
                                <i class="far fa-check-circle"></i>
                                <span>Learn from SEBI Registered Mentors</span>
                            </div>
                            <div class="single-banifits">
                                <i class="far fa-check-circle"></i>
                                <span>Practical, Real-Time Trading Experience</span>
                            </div>
                            <div class="single-banifits">
                                <i class="far fa-check-circle"></i>
                                <span>Gain Confidence in Making Informed Decisions</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--rts blog wizered area -->
            <div class="col-xl-4 col-md-12 col-sm-12 col-12 mt_lg--60 pl--50 pl_md--0 pl-lg-controler pl_sm--0">
                <!-- single wizered start -->
                <div class="rts-single-wized Categories service">
                    <div class="wized-header">
                        <h5 class="title">
                           Courses Categories 
                        </h5>
                    </div>
                    <div class="wized-body">
                        <!-- single categoris -->
                        <ul class="single-categories">
                            <li><a [routerLink]="['/courses', 'basic']">PHASE 1(basic)<i class="far fa-long-arrow-right"></i></a></li>
                        </ul>
                        <!-- single categoris End -->
                        <!-- single categoris -->
                        <ul class="single-categories">
                            <li><a href="#">PHASE 2 (advanced) <i class="far fa-long-arrow-right"></i></a></li>
                        </ul>
                        <!-- single categoris End -->
                        <!-- single categoris -->
                        <ul class="single-categories">
                            <li><a [routerLink]="['/courses', 'placement']">Placement Courses <i class="far fa-long-arrow-right"></i></a></li>
                        </ul>
                        <!-- single categoris End -->
                        <!-- single categoris -->
                        <!-- <ul class="single-categories">
                            <li><a href="#">Investment Policy <i class="far fa-long-arrow-right"></i></a></li>
                        </ul> -->
                        <!-- single categoris End -->
                        <!-- single categoris -->
                     
                    </div>
                </div>
                <!-- single wizered End -->
                <!-- single wizered start -->
                <div class="rts-single-wized download service">
                    <div class="wized-header">
                        <h5 class="title">Download</h5>
                    </div>
                    <div class="wized-body">
                        <!-- single downlaod area start -->
                        <div class="single-download-area">
                            <img src="assets/images/service/icon/07.svg" alt="Business_downlaod">
                            <div class="mid">
                                <h6 class="title">
                                    Our Brochures
                                </h6>
                                <span>Downlaod</span>
                            </div>
                            <a class=" rts-btn btn-primary" href="assets/img/Artsoffinance-CourseBrochure.pdf" download><i class="fal fa-arrow-right"></i></a>
                        </div>
                        <!-- single downlaod area End -->
                        <!-- single downlaod area start -->
                        <!-- <div class="single-download-area">
                            <img src="assets/images/service/icon/08.svg" alt="Business_downlaod">
                            <div class="mid">
                                <h6 class="title">
                                    Company Details
                                </h6>
                                <span>Downlaod</span>
                            </div>
                            <a class=" rts-btn btn-primary" href="assets/img/Artsoffinance-CourseBrochure.pdf" download><i class="fal fa-arrow-right"></i></a>
                        </div> -->
                        <!-- single downlaod area End -->
                    </div>
                </div>
                <!-- single wizered End -->
                <!-- single wizered start -->
                <div class="rts-single-wized contact service">
                    <div class="wized-header">
                        <a href="#"><img src="assets/img/logo1.png" alt="Business_logo"></a>
                    </div>
                    <div class="wized-body">
                        <h5 class="title">Need Help? We Are Here
                            To Help You</h5>
                        <a class="rts-btn btn-primary" href="/contact">Contact Us</a>
                    </div>
                </div>
                <!-- single wizered End -->
            </div>
            <!-- rts- blog wizered end area -->
        </div>
    </div>
</div>
<!-- End service details area -->

<!-- start header area -->
<!-- rts footer area start -->
<div class="rts-footer-area footer-one rts-section-gapTop bg-footer-one">
    <div class="container bg-shape-f1">
        <!-- footer call to action area -->
        <div class="row">
            <div class="col-12">
                <div class="rts-cta-wrapper">
                    <div class="background-cta">
                        <div class="row">
                            <!-- cta-left -->
                            <div class="col-lg-6">
                                <div class="cta-left-wrapepr">
                                    <p class="cta-disc">
                                        Latest Business Ideas
                                    </p>
                                    <h3 class="title">Sign Up Newsletter</h3>
                                </div>
                            </div>
                            <!-- cta left end -->
                            <div class="col-lg-6">
                                <!-- cta right -->
                                <form class="cta-input-arae">
                                    <input type="email" name="email" placeholder="Enter Email Address" required>
                                    <button type="submit" class="rts-btn btn-primary">Subscribe Now</button>
                                </form>
                                <!-- cta right End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer call to action area End -->
        <!-- rts footer area -->
        <div class="row pt--120 pt_sm--80 pb--80 pb_sm--40">
            <div class="col-xl-4 col-md-6 col-sm-12 col-12">
                <div class="footer-two-single-wized left pt--50">
                    <h3 class="title animated fadeIn">
                        <span>Ready To</span> <br>
                        Work With Us?
                    </h3>
                    <p class="disc">
                        Felis consequat magnis est fames sagittis ultrices placerat sodales porttitor quisque.
                    </p>
                    <a class="rts-btn btn-primary-2 color-h-black" href="#">Get a Quote</a>
                </div>
            </div>
        </div>
    </div>
</div>